[package]
name = "lavagna"
version = "2.1.1"
authors = ["Alessandro Pezzato <alessandro@pezzato.net>"]
edition = "2021"
description = "The uncluttered blackboard"
homepage = "https://github.com/alepez/lavagna"
repository = "https://github.com/alepez/lavagna"
readme = "README.md"
license = "MIT/Apache-2.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[dependencies.bevy]
version = "0.10"
default_features = false
features = [
  "bevy_asset",
  "bevy_core_pipeline",
  "bevy_render",
  "bevy_sprite",
  "bevy_text",
  "bevy_ui",
  "bevy_winit",
  "x11",
  "png",
]

[dependencies]
bevy_embedded_assets = "0.7.0"
bevy_framepace = "0.12"
bevy_pancam = "0.8.0"
bevy_prototype_lyon = "0.8.0"
bevy_matchbox = "0.6.0"
rand = "0.8"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }

# Enable a small amount of optimization in debug mode
[profile.dev]
opt-level = 1

# Enable high optimizations for dependencies (incl. Bevy), but not for our code:
[profile.dev.package."*"]
opt-level = 3

[features]
quick-build = ["bevy/dynamic_linking"]

[target.wasm32-unknown-unknown.dependencies]
tracing-wasm = "0.2.1"
tracing = "0.1.37"
web-sys = { version = "0.3.63", features = ["Window", "Location"] }

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
clap = { version = "4.2.7", features = ["derive"] }
